<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="YbConnect" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
 
  <YbConnect>
    <add key="AppId" value="d75b391ef6abcbf"/>
    <!--<add key="Callback" value="http://online.cumt.edu.cn/irides/oauth/yiban"/>-->
    <add key="Callback" value="http://zhanglidaoyan.com"/>
    <add key="Type" value="web"/>
    <add key="AppSecret" value="cd05598f3486167f53a38da21c125e04"/>
  </YbConnect>
</configuration>